*{
    margin: 0px;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    background-color: antiquewhite;
    color: #1a1a1a;
}
h1, p, ul, li{
    background-color: rgba(77, 28, 28, 0);
}

img{
    width: 255px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

button{
    width: 200px;
    height: 50px;
    border-radius: 16px;
    background-color: rgb(28, 197, 22);
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

button:hover{
    width: 220px;
    height: 55px;
    transition-duration: 0.5s;
    background-color: rgb(9, 255, 0);
    color: rgb(0, 0, 0);
}

